# Backend API base URL (no trailing slash)
# Local:
# VITE_API_BASE_URL=http://127.0.0.1:8000
# Catalyst AppSail:
VITE_API_BASE_URL=https://cip-api-50044183252.development.catalystappsail.in
VITE_CATALYST_API_GATEWAY_URL=
